.HuntEvents {
    width: 100%;
    max-width: 40rem;
    padding: 1rem 0rem;
}

.HuntEvents > .title {
    font-size: large;
}

.HuntEvents > .form input {
    font-size: x-large;
    text-align: center;
}

.HuntEvents > .form .error-message {
    color: red;
    margin: .3rem;
}

.HuntEvents > .event-info-wrapper {
    padding: 1rem;
}

.HuntEvents > .event-info-wrapper .title  {
    font-weight: bold;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper { 
    text-align: left;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper em { 
    font-style: normal;
    font-weight: bold;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper table {
    width: 100%;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper th { 
    min-width: 5rem;
    background-color: #f2f2f2;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper th, td {
    padding: 15px;
}

.HuntEvents > .event-info-wrapper .markdown-wrapper tr:nth-child(even) {
    background-color: #f2f2f2;
}
